{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>Add Blog post</h1>
                <br />
                <table>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button class="btn btn-primary">Create</button>

                    </form>
                </table>

            </div>
        </div>
    </div>
</div>
{% else %}
<br />
<h3> I see that You are a rule braker, but I won't report this. Just login and nobody will get hurt.</h3>
{% endif %}
{% endblock content %}